version: '3.3'
services:
  jenkins: 
    build: 
      context: ./master
    container_name: jenkins
    ports: 
      - 8080:8080
      - 50000:50000
    volumes:
      - jenkins:/var/jenkins_home
      - ./casc_configs:/var/jenkins_home/jenkins_conf
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/jenkins_conf
    env_file:
      - ${ENV_FILE}
volumes:
  jenkins:
